*{
    box-sizing: border-box;
   font-family:  'Montserrat', sans-serif;
}

body{
    /* background-image: url("../images/space.jpeg"); */
    /* position: cover; */
    background-repeat: no-repeat;
}

.belowHeader{
    background-image: url("../images/sky.jpeg");
    /* position: fixed; */
    /* background-size: cover;
    background-position: center; */
}


h1{
    text-align: center;
    color: lightgray;

}

.aboutMe{
    margin-top: 50px;
}

#wrapAll{
    background-color: darkblue;
    text-align: cover;
    width: 100%;

}
.jumbotron{
    width: 100%;
    height: 1500px;;
    text-align:center;
    height: 100%;
    padding: 0;
    background-image: url("../images/space.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

}


.btn-outline-default{
   top: 400px;
    z-index: 9;

}

html {
    scroll-behavior: smooth;
  }


.titleCol{
    position: absolute;
    top: 40%;
}

.titleRow{
    margin: 0 auto;  
}

.head-btn{
    color: white;
}

.head-btn:hover{
    text-decoration: none;
    color: lightpink;
}

.head-btn:active{
    color: white !important;
}


#title{
    z-index: 10;
    color: white;
    display: inline-block;

}
#name{
    font-size: 58px;
    z-index:10;
    display: inline-block;
    font-weight: 300;
    color: white;
}

.strong{
    font-size: 58px;
    font-weight: 800; 
    z-index: 10;
     /* float: left; */
     display: inline-block;
    color: white;
}
.card{
    height: 900px;
    opacity: 1;
    padding: 0 !important;
    
}

#headshot{
    height: 600px;
    width: auto;
    padding-left: 150px;
    float:left;
}

#bio{
    padding: 15px;
    margin: 100px;
}

container{
    margin: 0 !important;
}

.btn[class*=btn-outline-]{
    padding-top: .4rem !important;
}


.mb-5{
    margin-bottom: -8px !important; 
}

canvas .particles-js-canvas-el{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#particle-js{
    height: 100%;
    background: cover;
    background-position: cover;
    background: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

#particles canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

element.style{
    width: 0;
}


/* Portfolio Page */

.photo{
    height: 300px;
    width: 370px;
    position: relative;
    opacity: 7%;
   
}

#portfolio-card{
    margin: 100px 100px 200px 100px;

}

.portfolio-grid {
    color:white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    row-gap: 20px;
    column-gap: 10px;
    align-content: center;
}


.portfolio-grid img:hover {
    -webkit-transform: scale(2.5); 
    transform: scale(1.5); 
    z-index: 11;
    position: relative;
    top:-25px;
}


.imageText{
  text-decoration: none;
  color:black;
  
}

.imageText:hover{
    text-decoration: none;
}

.bio-content{
    margin: 0 auto;

}




.social-link:hover{
    color: black;
}

.imageText:hover{
    opacity: 1;
}

/* Contact Page */


#message{
 overflow: scroll;
}


#contact-card{
    background-image: url("../images/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0 auto;
    padding: 100px 200px 100px 200px;
}


.social-icon{
    margin: 50px;
    padding-left: 50px;
    color: pink;   
  
}
/* #social-btn{
    padding-top: 70px;
margin: 0 auto;
    float: right;

} */

.inTouch{
    margin-bottom: 50px;
}


@media screen and (max-width: 780px){

    .inTouch{
        font-size: 12px;
    }

    .btn-outline-default{
       width: 100%;
       top: 200px;

    }
    body{
        width: 100%;
        overflow-wrap: normal;
    }

    .card{
        width: 100%;
        height: 100%;
    }

    .portfolio-grid{
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
  
    .portfolio-grid img:hover{
        -webkit-transform: -2; 
    transform: none;
    
}

.titleCol{
    margin: 0 auto;
    position: absolute;
    width: 100%;
    top: 100px;
}
  
h1, h3 {
    font-size: 24px;
}


 .strong , #name {
    font-size: 30px;
}

#title {
    font-size: 20px;
}
   
  #social-btn{
      height: 15px;
      width: 15px;
      margin: 0;
      padding: 0;
  }




  #headshot{
    width: 100%;
    padding: 0;
  }
  