*{
    box-sizing: border-box;
}

#wrapAll{
    background-color: lightpink;
    height: 900px;
    margin: 0 auto;
    width: 100%;

}
.jumbotron{
    height: 700px;
    margin: 0 auto;
    padding: 0;
}
.card{
    height: 700px;
    
}

container{
    margin: 0 !important;
}

.card .mb-5{
    margin: 5px auto !important;
}

#particle-js{
    height: 100%;
    width: 100%;

}